/* TODO Add site wide styles */
/* body {
  background-color: #482525;
} */
/* * this is css reset */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#root {
  overflow: hidden;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(20, 5vw);
  grid-template-rows: repeat(20, 5vh);
}
