.signup-form {
    grid-row: 6 / end;
    grid-column: 9 / 16;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 560px;
    /* background-color: black; */
    border: black;
    background-color: #1f539288;
}