
.wrapper {
    background-color: #436b9c69;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
    grid-row: 3 / end;
    grid-column: 1 / end;
}
.about-us {
    grid-row: 2 / 8;
    grid-column: 1 / 6;
    border-radius: 25px;
    background-color: #0b6fa5b9;
    box-shadow:0 0 40px 0 #03346c;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5% );
    border: 1.5px solid black;
    margin: 30px;
}

.feature-chore {
    grid-row: 2/ 8;
    grid-column: 6/ 12;
    border-radius: 25px;
    background-color: #0b6fa5b9;
    box-shadow:0 0 40px 0 #03346c;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5% );
    border: 1.5px solid black;
    margin: 30px;
}

.about-me-links {
    grid-row: 9 / end;
    grid-column: 1 / end;
    display: flex;
    background-color: #239ac4;
    justify-content: center;
    
}

.about-logo {
    grid-row: 2/ 8;
    grid-column: 6/ 15;
    width: 450px;
}
.about-cb {
    grid-row: 12 / end;
    grid-column: 3 / 18;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
}

.feature-title {
    grid-row: 1/ 5;
    grid-column: 7/ 15;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
}

.features {
    grid-row: 5 / end;
    grid-column: 3 / 18;
    font-size: 15px;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
}